# Copy this file to .env and fill in your values
# Never commit .env to GitHub

GROQ_API_KEY=your_groq_api_key_here
AWS_REGION=us-east-1
JENKINS_EC2_ID=your_jenkins_instance_id
JENKINS_JOB_NAME=your_jenkins_job_name
JENKINS_USER=your_jenkins_username
JENKINS_API_TOKEN=your_jenkins_api_token
JENKINS_SSH_USER=ec2-user
BACKEND_EC2_ID=your_backend_instance_id
BACKEND_SSH_USER=ec2-user
SSH_KEY_PATH=/path/to/your/login-key.pem
RDS_INSTANCE_ID=your_rds_identifier
CLOUDFRONT_DIST_ID=your_cloudfront_distribution_id
CLOUDFRONT_DOMAIN=https://your_cloudfront_domain